/**
 * Created by krishnasagar on 8/9/16.
 */

* {
    font-family : "Comic Sans MS", "Comic Sans", cursive;
}

body {
    background-color : #5F9EA0;
}
label, input {
    display: inline-block;
    vertical-align: baseline;
    width: 125px;
}
label {
    color: #2D2D2D;
    font-size: 15px;
}
form, input {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
form {
    position : fixed;
    left : 100px;
    top : 90px;
    width : 400px;
    border : solid;
    padding : 50px 50px 50px 50px;
    background-color : white;
}

#ErrorSpan {
    position : fixed;
    top : 110px;
    width : 400px;
    left : 600px;
    height : auto;
}